The goal of this notebook is to map SNPs for each ancestry group into randomly generated CRISPR guides.

In [29]:
#Load packages
library(tidyverse)
library(reshape2)
library(tictoc)

show_msg <- function(x){ 
    print(x)
    flush.console()
}

In [5]:
#Load in the guide and SNP data
setwd('/home/jupyter/Ancestry/ccle_ancestry_analysis')
guide.data = read.table("guideData.txt", sep = "\t", header = T)
snp.data = read.table("snpData.txt", sep = "\t", header = T)

In [52]:
#First create a barplot that shows the total number of guides sampled and the total number of guides with SNPs
total.affected = nrow(snp.data)

total.ancestry.vector = NULL
for(i in 5:14){
    num.affected = snp.data %>% 
    select(id, all_of(i)) %>%
    rename("ancestry.fraction" = 2) %>%
    filter(ancestry.fraction > 0) %>%
    nrow()
    
    total.ancestry.vector = c(total.ancestry.vector, num.affected)
}

In [46]:
dim(guide.data)
dim(snp.data)

nrow(snp.data)/nrow(guide.data)

[1] 1326981       4

[1] 179557     14

[1] 0.1353124

In [36]:
head(guide.data)
head(snp.data)

  id chr  posL  posR
1 0  chr1 12162 12185
2 1  chr1 12629 12652
3 2  chr1 13542 13565
4 3  chr1 12022 12045
5 4  chr1 12201 12224
6 5  chr1 12663 12686

  id pos   ref  alt AF_oth      AF_ami     AF_sas       AF_fin      AF_eas
1  2 13550 G    A   0.011467890 0.00000000 0.0028205128 0.025546605 0.00000000
2  7 13302 C    T   0.007407407 0.00000000 0.0000000000 0.000000000 0.00000000
3 17 15850 G    A   0.000000000 0.00000000 0.0004413063 0.000000000 0.01020408
4 31 58814 G    A   0.111490330 0.09878049 0.0617900954 0.082645631 0.02192639
5 32 63735 CCTA C   0.332624113 0.27115987 0.4825581395 0.354333576 0.68252305
6 33 63528 G    A   0.004559271 0.03472222 0.0008912656 0.001672241 0.00000000
  AF_amr      AF_afr       AF_mid     AF_asj      AF_nfe
1 0.012193216 1.383878e-03 0.01574803 0.015923567 1.521429e-02
2 0.004024662 3.296571e-02 0.00000000 0.000000000 9.041591e-05
3 0.000000000 2.837201e-05 0.00000000 0.000000000 7.918910e-05
4 0.175803545 1.840796e-01 0.06521739 0.058500323 6.054307e-02
5 0.340150492 1.623777e-01 0.36915888 0.338417541 3.528184e-01
6 0.002922756 4.516984e-04 0.00000000 0.003243243 4.416756e-03